.chatListItemLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    background-color: transparent;
    margin: 0;
    border-radius: 8px;

    &:hover {
        background-color: rgb(67, 67, 67);
    }

    .chatListItemTitle {
        color: white;
        padding: 7px 7px;
        white-space: nowrap;
        width: calc(100% - 1.6rem);
        -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
        mask-image: linear-gradient(to right, black 80%, transparent 100%);
    }

    /* NavLink has native active state/className */
    &:hover,
    &.active {
        .chatListItemMenu {
            display: flex;
        }
    }

    &.active {
        background-color: rgb(92, 92, 92);
    }

    .chatListItemMenu {
        border-radius: 0 8px 8px 0;
        height: 100%;
        width: 1.5rem;
        font-weight: 700;
        display: none;
    }
}

.chatListItem {
    position: relative;
    padding: 5px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    background-color: transparent;
    border-radius: 8px;
    margin: 2px 0;

    &:hover {
        background-color: rgb(67, 67, 67);
    }

    .chatListItemTitleInput {
        padding: 2px 0;
        width: 100%;
        font-size: 0.85rem;
        color: white;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        outline: none;
        margin: 0;

        &:focus {
            outline: 2px solid rgb(54, 99, 249);
            border: none
        }
    }
}
